<!DOCTYPE html>
<html>
<head>
  <title>CrAzy..</title>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900italic,900,300,300italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/scrollbar.css"/>
  <link rel="stylesheet" href="css/jquery.mmenu.all.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script>var socketio = /*io.connect("nodechatkiran.herokuapp.com");*/io.connect("localhost:3000");</script>
  <script data-main="script/require/require-config" src="script/require/require.js"></script>
  <script src="script/lib/jquery.js"></script>
  <script src="script/lib/jquery-mmenu.js"></script>
</head>
<body ng-controller="baseController">
  <input type="hidden" id="hiddenMessage"/>

  <!-- AUDIO TRACK - STARTS -->
  <track-element></track-element>
  <!-- AUDIO TRACK - ENDS -->

  <!-- LOGIN - STARTS -->
  <div id="user-entry">
    <div ng-include="'html/login.html'"></div>
  </div>
  <!-- LOGIN - ENDS -->

  <!-- PHOTO TROLL - STARTS -->
  <photo-troll-element load-process="setCCMessage();"></photo-troll-element>
  <!-- PHOTO TROLL - ENDS -->

  <!-- AUDIO TROLL - STARTS -->
  <wave-element show-tag="showAudioTroll"></wave-element>
  <!-- AUDIO TROLL - ENDS -->

  <div id="chat-window">
    <!-- HEADER - STARTS -->
    <div ng-include="'html/layout/header.html'"></div>
    <!-- SUB MENUS - STARTS -->
    <nav id="menu">
      <ul>
        <li><a href="#chat-window"><i class='fa fa-chevron-left'></i>&nbsp;&nbsp;Back</a></li>
        <li><a href="#photo-troll-container" ng-click="openContainer('', 'photo-troll-container');"><i class="fa fa-camera"></i>&nbsp;&nbsp;Photo Troll</a></li>
        <li><a href="#audio-box" ng-click="openContainer('', 'audio-box');"><i class="fa fa-music"></i>&nbsp;&nbsp;Music</a></li>
        <li><a><i class="fa fa-cog"></i>&nbsp;&nbsp;Settings</a>

          <!-- SETTING MENUS - STARTS -->
          <ul>
            <li class="Divider">&nbsp;</li>
            <li>
              <a class="mm-arrow"><i class="fa fa-user"></i>&nbsp;&nbsp;Name<span class="Counter mm-counter-right">{{profileName}}</span></a>
                <!-- CHANGE NAME MENUS - STARTS -->
                <ul>
                  <li><br/><center><input type="text" ng-model="profileNameChanged"><br/><br/></center></li>
                  <li><br/><center><a href="#mm-2" class="btnp" ng-click="changeName(profileNameChanged);">Change Name</a><br/><br/></center></li>
                </ul>
                <!-- CHANGE NAME MENUS - ENDS -->
            </li>
            <li id="setting-radius">
              <a class="mm-arrow"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Status<span class="Counter mm-counter-right">I am Super</span></a>
            </li>
            <li class="Divider Spacer">Personal Settings</li>
              <li>
                <a class="mm-arrow"><i class="fa fa-bell"></i>&nbsp;&nbsp;Notification<span class="Counter mm-counter-right caps">{{notification}}</span></a>
                  <!-- NOTIFICATION MENUS - STARTS -->
                  <ul>
                    <li><a href="#mm-2" ng-click="changeNotification(true);"><i class="fa fa-volume-off fa-lg"></i>&nbsp;&nbsp;On</a></li>
                    <li><a href="#mm-2" ng-click="changeNotification(false);"><i class="fa fa-volume-up fa-lg"></i>&nbsp;&nbsp;Off</a></li>
                  </ul>
                  <!-- NOTIFICATION MENUS - ENDS -->
              </li>
              <li>
                <a class="mm-arrow"><i class="fa fa-volume-off fa-lg"></i>&nbsp;&nbsp;Mute<span class="Counter mm-counter-right caps">{{mute}}</span></a>
                  <!-- MUTE MENUS - STARTS -->
                  <ul>
                    <li><a href="#mm-2" ng-click="changeMute(true);"><i class="fa fa-volume-off fa-lg"></i>&nbsp;&nbsp;On</a></li>
                    <li><a href="#mm-2" ng-click="changeMute(false);"><i class="fa fa-volume-up fa-lg"></i>&nbsp;&nbsp;Off</a></li>
                  </ul>
                  <!-- MUTE MENUS - ENDS -->
              </li>
              <li>
                <a class="mm-arrow"><i class="fa fa-camera"></i>&nbsp;&nbsp;Theme<span class="Counter mm-counter-right caps">{{themeColor}}</span></a>
                  <!-- PROFILE MENUS - STARTS -->
                  <ul class="themes">
                    <li><a href="#mm-2" ng-click="changeTheme('blue');">Blue<!-- <span class="blue"></span> --></a></li>
                    <li><a href="#mm-2" ng-click="changeTheme('green');">Green<!-- <span class="green"></span> --></a></li>
                    <li><a href="#mm-2" ng-click="changeTheme('purple');">Purple<!-- <span class="purple"></span> --></a></li>
                    <li><a href="#mm-2" ng-click="changeTheme('orange');">Orange<!-- <span class="orange"></span> --></a></li>
                    <li><a href="#mm-2" ng-click="changeTheme('yellow');">Yellow<!-- <span class="yellow"></span> --></a></li>
                    <li><a href="#mm-2" ng-click="changeTheme('greenSea');">Green sea<!-- <span class="greenSea"></span> --></a></li>
                    <li><a href="#mm-2" ng-click="changeTheme('navBlue');">Navy blue<!-- <span class="navyBlue"></span> --></a></li>
                  </ul>
                  <!-- THEME MENUS - ENDS -->
              </li>
              <li>
                <a class="mm-arrow"><i class="fa fa-font"></i>&nbsp;&nbsp;Font size<span class="Counter mm-counter-right caps">{{fontSize}}</span></a>
                  <!-- FONT SIZE MENUS - STARTS -->
                  <ul>
                    <li><a href="#mm-2" ng-click="changeFontSize('small');">Small</a></li>
                    <li><a href="#mm-2" ng-click="changeFontSize('medium');">Medium</a></li>
                    <li><a href="#mm-2" ng-click="changeFontSize('large');">Large</a></li>
                  </ul>
                  <!-- FONT SIZE MENUS - ENDS -->
              </li>
              <li>
                <span><i class="fa fa-weixin"></i>&nbsp;&nbsp;Chat backup</span><em class="Counter">Not Available</em><!-- <input type="checkbox" class="Toggle" /> -->
              </li>
              <li class="Divider Spacer">Privacy</li>
              <li>
                <a class="mm-arrow"><i class="fa fa-eye"></i>&nbsp;&nbsp;Last seen<span class="Counter mm-counter-right">{{lastSeen}}</span></a>
                  <!-- LAST SEEN PRIVACY MENUS - STARTS -->
                  <ul>
                    <li><a href="#mm-2" ng-click="changePrivacy('EveryOne', 'lastSeen');"><i class="fa fa-users"></i>&nbsp;&nbsp;EveryOne</a></li>
                    <li><a href="#mm-2" ng-click="changePrivacy('My Friends', 'lastSeen');"><i class="fa fa-user"></i>&nbsp;&nbsp;My Friends</a></li>
                    <li><a href="#mm-2" ng-click="changePrivacy('Nobody', 'lastSeen');"><i class="fa fa-user-times"></i>&nbsp;&nbsp;Nobody</a></li>
                  </ul>
                  <!-- LAST SEEN PRIVACY MENUS - ENDS -->
              </li>
              <li>
                <a class="mm-arrow"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Profile photo<span class="Counter mm-counter-right">{{dpPrivacy}}</span></a>
                  <!-- DP PRIVACY MENUS - STARTS -->
                  <ul>
                    <li><a href="#mm-2" ng-click="changePrivacy('EveryOne', 'dpPrivacy');"><i class="fa fa-users"></i>&nbsp;&nbsp;EveryOne</a></li>
                    <li><a href="#mm-2" ng-click="changePrivacy('My Friends', 'dpPrivacy');"><i class="fa fa-user"></i>&nbsp;&nbsp;My Friends</a></li>
                    <li><a href="#mm-2" ng-click="changePrivacy('Nobody', 'dpPrivacy');"><i class="fa fa-user-times"></i>&nbsp;&nbsp;Nobody</a></li>
                  </ul>
                  <!-- DP PRIVACY MENUS - ENDS -->
              </li>
              <li>
                <a class="mm-arrow"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Status<span class="Counter mm-counter-right">{{statusPrivacy}}</span></a>
                  <!-- STATUS PRIVACY MENUS - STARTS -->
                  <ul>
                    <li><a href="#mm-2" ng-click="changePrivacy('EveryOne', 'statusPrivacy');"><i class="fa fa-users"></i>&nbsp;&nbsp;EveryOne</a></li>
                    <li><a href="#mm-2" ng-click="changePrivacy('My Friends', 'statusPrivacy');"><i class="fa fa-user"></i>&nbsp;&nbsp;My Friends</a></li>
                    <li><a href="#mm-2" ng-click="changePrivacy('Nobody', 'statusPrivacy');"><i class="fa fa-user-times"></i>&nbsp;&nbsp;Nobody</a></li>
                  </ul>
                  <!-- STATUS PRIVACY MENUS - ENDS -->
              </li>
          </ul>
          <!-- THEME MENUS - STARTS -->
        </li>
        <li><a><i class="fa fa-question-circle"></i>&nbsp;&nbsp;Help</a>
          <!-- HELP MENUS - STARTS -->
          <ul>
            <li class="Divider">&nbsp;</li>
            <li><a href="#/">Blending emotion with aggression in a speech that had her invoking a Roman philosopher, accusing rivals of political opportunism over a “child’s death”</a></li>
            <li><a href="#/">Twenty-five years after her arrest, Nalini — a convict in the Rajiv Gandhi assassination case — visited her home and relatives on a 12-hour parole Wednesday.</a></li>
            <li><a href="#/">Twenty-five years after her arrest, Nalini — a convict in the Rajiv Gandhi assassination case — visited her home and relatives on a 12-hour parole Wednesday.</a></li>
            <li><a href="#/">Twenty-five years after her arrest, Nalini — a convict in the Rajiv Gandhi assassination case — visited her home and relatives on a 12-hour parole Wednesday.</a></li>
          </ul>
          <!-- HELP MENUS - ENDS -->
        </li>
        <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out" ng-click="logout()"></i>&nbsp;&nbsp;Logout</a></li>
      </ul>
    </nav>

    <!-- PROFILE MENUS - STARTS -->
    <nav id="dp" class="Panel">
      <ul>
          <li><center><a href="#/"><img class='profile-pix' src='http://i.dailymail.co.uk/i/pix/2013/09/24/article-2431162-183C7B8500000578-412_470x423.jpg' width='500'></a></center></li>
      </ul>
    </nav>
    <!-- PROFILE MENUS - ENDS -->
    </div>
    <!-- SUB MENUS - ENDS -->
    <!-- HEADER - ENDS -->

    <!-- CHAT WINDOW - STARTS -->
    <div id="chat-box"></div>
    <div id="chat-input-field">
        <!-- SMILEY - STARTS -->
        <smiley-element show-tag="showSmiley" options="smileyList"></smiley-element>
        <!-- SMILEY - ENDS -->

        <!-- CHAT TEXT FIELD - STARTS -->
        <div placeholder="Enter the message" id="ccMessageSubmit" contenteditable="true" ng-keyup="sendMessage($event)" ng-keypress="isUserTyping();" ng-blur="isUserNotTyping();"></div>
          <i class="fa fa-smile-o fa-lg pt" ng-click="showSmiley = !showSmiley"></i>
        </div>
        <!-- CHAT TEXT FIELD - ENDS -->

        <!-- BOARD - STARTS -->
        <draw-element load-process="setCCMessage();"></draw-element>
        <!-- BOARD - ENDS -->
    </div>
  </div>
  <!-- CHAT WINDOW - ENDS -->
</body>
</html>
