<div class="audio-container" id="audio-box">
  <center><i class="fa fa-angle-up wh fa-2x white-c pt" ng-click="close();"></i></center>
  <ul id="songs">
    <li data-songurl="songs/tamil/achcham-yenbadhu-madamaiyada/new.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Mr.Einstein Favourite Song</span>
    </li>
    <li data-songurl="songs/tamil/dhanush/d1.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Una Pethavan Una Pethana Senjana</span>
    </li>
    <li data-songurl="songs/english/pra-1.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Mr.Bell Favourite Song</span>
    </li>
    <li data-songurl="songs/english/fai-1.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Mr.Edison Favourite Song</span>
    </li>
   <li data-songurl="songs/hindi/Yeh_Jo_Des_Hai_Tera-VmusiQ.Com.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Yeh Jo Des Hai Tera</span>
    </li>
    <li data-songurl="songs/tamil/Irudhi-Suttru/01_Azhage.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Kathakali - Azhage</span>
    </li>
    <li data-songurl="songs/tamil/Irudhi-Suttru/Hey_Sandakkara.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Irudhi Suttru - Hey Sandakkara</span>
    </li>
    <li data-songurl="songs/tamil/Irudhi-Suttru/Poda_Poda.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Irudhi Suttru - Poda Poda</span>
    </li>
    <li data-songurl="songs/tamil/Irudhi-Suttru/Usuru_Narambula.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Irudhi Suttru - Usuru Narambula</span>
    </li>
    <li data-songurl="songs/tamil/Sethupathi/Hey_Mama.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Sethupathi - Hey mama</span>
    </li>
    <li data-songurl="songs/tamil/ithu-namma-aalu/Oru_Thalai_Ragam_Simbu_Version.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Ithu namma aalu - Oru thalai ragam simbu version</span>
    </li>
    <li data-songurl="songs/tamil/ithu-namma-aalu/Oru_Thalai_Ragam.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Ithu namma aalu - Oru thalai ragam</span>
    </li>
    <li data-songurl="songs/tamil/ithu-namma-aalu/Kaathaga.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Ithu namma aalu - Kaathaga</span>
    </li>
    <li data-songurl="songs/tamil/ithu-namma-aalu/Maaman_Waiting.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Ithu namma aalu - Maaman waiting</span>
    </li>
    <li data-songurl="songs/tamil/Anjali/kiran-fav.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Kiran Mass - Favourite song</span></li>
    <li data-songurl="songs/tamil/ennai-theriyuma/Thanni_Karuthirichi.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Vinoth - Favourite song</span></li>
    <li data-songurl="songs/tamil/achcham-yenbadhu-madamaiyada/Thalli_Pogathey(160kbps)-StarMusiQ.Com.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span  ng-click="play($event);">Thalli Pogathey</span>
    </li>
    <li data-songurl="songs/tamil/mithuran/Munnal_Kadhali_(Reprise)-StarMusiQ.Com.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Munnal Kadhali (Reprise) - Venkaet Favourite song</span>
    </li>
    <li data-songurl="songs/tamil/mithuran/Munnal_Kadhali-StarMusiQ.Com.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Munnal Kadhali</span>
    </li>
    <!-- <li data-songurl="songs/tamil/beep/Beep_Song.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Beep Song</span>
    </li> -->
    <li data-songurl="songs/tamil/aakko/aakko.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Aakko - Anirudh Ravichander</span>
    </li>
    <li data-songurl="songs/tamil/kaanal-neer/Kaanal-Neer-Mudhal-kadhal.mp3">
      <i class="fa fa-play-circle" ng-click="play($event);"></i><i class="fa fa-pause-circle" ng-click="pause();"></i><span ng-click="play($event);">Kaanal Neer - Mudhal kadhal</span>
    </li>
  </ul>
  <center>
  <audio controls loop id="audio">
    <source src="songs/tamil/mithuran/Munnal_Kadhali_(Reprise)-StarMusiQ.Com.mp3" type="audio/ogg" id="oggSource">
    <source src="songs/tamil/mithuran/Munnal_Kadhali_(Reprise)-StarMusiQ.Com.mp3" type="audio/mpeg" id="mpegSource">
  </audio>
  </center>
</div>
<div class="audio-container" id="sport-box">
  <video width="100%" controls>
    <source src="video/theri.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>